.TopShell {
    display: flex;
    flex-direction: row;
}

.H1 {
    text-align: center;
    border-bottom: black 3px solid;
}

.P {
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 1.3rem;
}

.Bottomshell {
    margin: 0 auto;
}

.Pic {
    border-right: solid black 3px;
}

.Img {
    max-width: 100%;
    max-height: 250px;
}

.H3 {
    text-align: center;
}

.Ol {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Li {
    list-style-type: none;
}

.PError {
    color: red;
    font-size: 1.5rem;
    text-align: center;
}



