.Form {
    display: flex;
    flex-direction: column;
}

.Label {
    font-size: 1.2rem;
    margin: 0 auto;
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Input {
    width: 200px;
    padding: 5px;
    margin: 0 auto;
    font-size: large;
    margin-bottom: 10px;
}

.Button {
    width: 90px;
    height: 40px;
    margin: 0 auto;
    font-size: large;
    background-color: red;
    color: white;
    border-radius: 10%;
    box-shadow: 5px 5px;
    font-family: Arial, Helvetica, sans-serif
}

.Button:hover {
    box-shadow: 0px 0px;
    background-color: #880808;
}

.Button:active {
    background-color: #6E260E;
}

