* {
    margin: 0px;
    padding: 0px;
}

.Div {
    width: 100vw;
}

.Container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    
}

.BackgroundImageFrame {
    height: 75vh;
    
}

.BackgroundImage{
    background-image: url('../assets/pokemonwallpaper.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

img{
    width: 15rem;
}

h1 {
    line-height: 45px;
    width: 600px;
    margin-bottom: 10px;
    color: #000080
}

.Button{
    background-color: #ddd;
    text-decoration: none;
    border: none;
    color: black;
    font-weight: bold;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
    border: 4px solid black;
    height: 70px;
  }
  
.Button:hover {
    background-color: #3e8e41;
    color: white;
}

.Top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.Bottom{
   
}




