* {
    margin: 0px;
    padding: 0px;
}

.Link {
    text-decoration: none;
    color: white;
    margin-right: 30px;
    font-size: larger;
    font-weight: bolder;
}

.Div {
    padding: 30px;
    background-color: #CC0000;
    border-bottom: 3px solid black;
}

@media only screen and (max-width: 600px) {
    .Link {
        margin-right: 15px;
        font-size: normal;
    }
    
}