.DivPrime{
    height: 100vh;
    width: 100vw;
    background-color: #343434
}

.DivTop{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.Container {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    border: 20px solid white;
    background-color: whitesmoke;
}

.PokemonSearchBar{
    display: flex;
    flex-direction: row;
    width: 21rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.PokemonSearchCard{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.PokemonCard{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PictureFrame {
    height: 300px;
    width: 300px;
    background-color: lightgray;
    border-radius: 10px;
}

.Img{
    height: 100%;
    width: 100%;
}

.Button{
    padding: 10px;
    font-size: 1em;
}

.BottomCard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    text-align: center;
}

.PokemonType {
    border-radius: 10px;
}


/* @media only screen and (max-width: 850px) {
    .DivBottom {
        position: static;
        margin: 0 auto;
    }

    .Img {
        height: 250px;
        width: 270px;
    }
} */