.App {
  margin: 0px;
  padding: 0px;
  
}

header {
  text-align: center;
  font-size: 1.5rem;
  border-bottom: 4px solid black;
  background-color: #FFDE00;
}

main {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  height: 100vh;
  align-items: center;
  margin: 0 auto;
  background-color: #FFDE00;
}

section {
  height: auto;
  width: 40%;
}

footer {
  text-align: center;
  padding: 40px;
  background-color: grey;
}